<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
</head>
<body>
    <h1>Hello, Welcome to the download page!</h1>
    <br>
    <p>Click to download and view this file in whatever format you want!</p>
    <br>
    <a href="/download"><button type="button">View as PDF</button></a>
    <a href="/download"><button type="button">View as Document</button></a>
    </br>
    <h2>Preview:</h2>
    <p>blah blah blah</p>
</body>
</html>
